{% load static %}


<footer class="bg-white h-16 flex items-center justify-between  px-10">
    <h5 class="flex-1 text-xs font-medium text-gray-400 leading-3 w-[130px] lg:w-auto">
        © 2023 Хаммер двери
    </h5>
    <ul class="flex gap-10">
        <li><a href="/" class="underline font-medium text-xs text-black/40 hover:text-[#042684]">Главная</a></li>
        <li><a href="/catalog" class="underline font-medium text-xs text-black/40 hover:text-[#042684]">Каталог</a></li>
        <li><a href="/contacts" class="underline font-medium text-xs text-black/40 hover:text-[#042684]">Контакты</a></li>
    </ul>
    <a href="https://miv-dev.ru"
       class="flex-1 inline-flex items-center justify-end gap-1 group text-gray-400 hover:text-primary text-xs">
        <svg fill="currentColor" viewBox="0 0 20 20" class="w-4 h-4" xmlns="http://www.w3.org/2000/svg"
             aria-hidden="true">
            <path clip-rule="evenodd" fill-rule="evenodd"
                  d="M6.28 5.22a.75.75 0 010 1.06L2.56 10l3.72 3.72a.75.75 0 01-1.06 1.06L.97 10.53a.75.75 0 010-1.06l4.25-4.25a.75.75 0 011.06 0zm7.44 0a.75.75 0 011.06 0l4.25 4.25a.75.75 0 010 1.06l-4.25 4.25a.75.75 0 01-1.06-1.06L17.44 10l-3.72-3.72a.75.75 0 010-1.06zM11.377 2.011a.75.75 0 01.612.867l-2.5 14.5a.75.75 0 01-1.478-.255l2.5-14.5a.75.75 0 01.866-.612z"></path>
        </svg>
        miv-dev.ru
    </a>
</footer>
